<div class="container-fluid d-flex">

    <div class="col-sm-4 mt-5 mx-auto teste1">
        <div class="container caixa-cadastro">
            <img src="../../assets/img/logo-removebg-preview.png" alt="logo" class="img row mx-auto">
            <form class="mt-5">
                <div class="mt-1">
                    <label for="usuario" class="fonte-stl">Usuário:</label>
                    <input type="text" class="form-control borda-redonda" name="nome" placeholder="Digite seu email"/>
                </div>
                <div class="mt-1">
                    <label for="senha" class="fonte-stl">Senha:</label>
                    <input type="text" class="form-control borda-redonda" name="nome" placeholder="Digite sua senha"/>
                </div>
                <div class="text-center fonte-stl botoes botaoCadastrar mt-4 p-2">Entrar</div>
                <hr>
                <p class="fonte-stl text-center">Não possui um conta? <a href="#">Cadastre-se.</a></p>
            </form>
        </div>
    </div>
    <div class="col-sm-4 mx-auto teste">
        <div class="container caixa-cadastro">
            <img src="../../assets/img/logo-removebg-preview.png" alt="logo" class="img row mx-auto">
            <h1 class="text-center fonte-stl">Cadastro</h1>
            <form>
                <div class="mt-1">
                    <label for="nome" class="fonte-stl">Nome:</label>
                    <input type="text" class="form-control borda-redonda" name="nome" placeholder="Digite seu nome"/>
                </div>
                <div class="mt-1">
                    <label for="usuario" class="fonte-stl">Usuário:</label>
                    <input type="text" class="form-control borda-redonda" name="nome" placeholder="Digite seu email"/>
                </div>
                <div class="mt-1">
                    <label for="senha" class="fonte-stl">Senha:</label>
                    <input type="text" class="form-control borda-redonda" name="nome" placeholder="Digite sua senha"/>
                </div>
                <div class="mt-2">
                    <label for="confirmSenha" class="fonte-stl">Confirmar senha:</label>
                    <input type="text" class="form-control borda-redonda" name="nome" placeholder="Digite novamente sua senha"/>
                </div>
                <div class="text-center fonte-stl botoes botaoCadastrar mt-4 p-2">Cadastrar</div>
                <hr>
                <p class="fonte-stl text-center">Já possui uma conta? <a routerLink="/entrar">Então faça login.</a></p>
            </form>
            
        </div>
    </div>
</div>