<div class="col-md-12 d-flex p-0 bg-danger sessao">
    <div class="card m-0">
        <div class="card-body text-center p-0">
            <h6 class="m-0">titulo</h6>
            <small class="m-0">subtitulo</small>
            <p class="">qntd</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body"></div>
    </div>
    <div class="card">
        <div class="card-body"></div>
    </div>
    <div class="card">
        <div class="card-body"></div>
    </div>
    <div class="card">
        <div class="card-body"></div>
    </div>
    <div class="card">
        <div class="card-body"></div>
    </div>
    <div class="card">
        <div class="card-body"></div>
    </div>
    <div class="card">
        <div class="card-body"></div>
    </div>
    <div class="card">
        <div class="card-body"></div>
    </div>
    <div class="card">
        <div class="card-body"></div>
    </div>

</div>