<div class="container-fluid fundo position-absolute pt-3 pb-3">

    
    <div class="dashboard">
        <div class="container d-flex justify-content-center">
            <img src="../../assets/img/logo-removebg-preview.png" class="logo" alt="logo-removebg-preview">
        </div>
        <app-infos></app-infos>
        <div class="col-md-12 d-flex p-0">
            <div class="col-md-2 bg-primary colunas"></div>
            <div class="col-md-7 bg-success colunas"></div>
            <div class="col-md-3 bg-warning colunas"></div>
        </div>
    </div>
</div>
